.intro-header

	.container

		.row
			.col-lg-12
				.intro-message
					%h1 Urban Dogefitters
					%h3 Wow. Such outfit. Much handsome.
					%hr.intro-divider
					%ul.list-inline.intro-social-buttons
						%li
							%a.btn.btn-default.btn-lg{:href=>"/login"} Sign In

.content-section-a

	.container

		.row
			.col-lg-5.col-sm-6
				%hr.section-heading-spacer
				.clearfix
				%h2.section-heading Upload Outfits
				%p.lead Simply upload your photos. Blah blah blah.
			.col-lg-5.col-lg-offset-2.col-sm-6
				%img.img-responsive{:src=>"img/image-a.jpg", :alt=>""}

.content-section-b

	.container

		.row
			.col-lg-5.col-lg-offset-1.col-sm-push-6.col-sm-6
				%hr.section-heading-spacer
				.clearfix
				%h2.section-heading Vote
				%p.lead Vote on other users' outfits.
			.col-lg-5.col-sm-pull-6.col-sm-6
				%img.img-responsive{:src=>"img/image-b.jpg", :alt=>""}

.content-section-a

	.container

		.row
			.col-lg-5.col-sm-6
				%hr.section-heading-spacer
				.clearfix
				%h2.section-heading Get Results
				%p.lead View your results.
			.col-lg-5.col-lg-offset-2.col-sm-6
				%img.img-responsive{:src=>"img/image-c.jpg", :alt=>""}

.banner

	.container

		.row
			.col-lg-6
				%h2 Join Urban Dogefitters Now!
			.col-lg-6
				%ul.list-inline.banner-social-buttons
					%li
						%a.btn.btn-default.btn-lg Sign Up
