
        
Update User Info
<div>
    <form action="/user" method="post">
        Name: <input type="text" name="useralias" value="<%=@user_info['useralias']%>"><br>
        <input type="submit" value="Submit">
    </form>
</div>


<div id="upload_box">
<form action="/upload" method="post">
Picture URL <input type="text" name="pictureURL"><br>
<input type="submit" value="Submit">
</form>
</div>

<a href="/user/pictures"> my pictures </a>